.input {
  padding: 12px;
}

.input-label {
  background-color: transparent;
  width: -webkit-fill-available;
  border: 0px;
}

.input-field {
  width: -webkit-fill-available;
  margin-top: 8px;
  padding: 6px;
  border-radius: 5px;
  border-width: thin;
}
