.checkbox {
  margin: 12px;
}

.checkbox-label {
  background-color: transparent;
  width: -webkit-fill-available;
  border: 0px;
}

.checkbox-option {
  display: flex;
  padding-top: 12px;
}

.add-option {
  margin-top: 12px;
  cursor: pointer;
  text-align: end;
}

.delete-icon {
  cursor: pointer;
}
