.page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.tools {
  width: 20%;
  height: 100%;
  background-color: #ecececb8;
  padding: 12px 20px;
}

.box {
  width: 80%;
  height: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.component-tool {
  border: 1px dashed rgb(199 199 199);
  border-radius: 5px;
  margin: 12px;
  position: relative;
}

.component-box {
  padding: 6px;
}

.delete-component {
  position: absolute;
  right: 6px;
  cursor: pointer;
}
